.row {
  max-width: $gride-max-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gride-gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gride-gutter-vertical-small;
    }
  }
  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gride-gutter-horizontal;
      @include respond(tab-port) {
        margin-right: 0 !important;
        margin-bottom: $gride-gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gride-gutter-horizontal}) / 2);
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gride-gutter-horizontal}) / 4);
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$gride-gutter-horizontal}) / 3);
  }
}
