$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-teritary-light: #2998ff;
$color-teritary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray: #777;
$color-gray-2: #999;
$color-gray-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//aariable for grid

$gride-max-width: 114rem;
$gride-gutter-vertical: 8rem;
$gride-gutter-vertical-small: 6rem;
$gride-gutter-horizontal: 6rem;
